
/*
    wangyizhuo s1554654
 */

/* Giant screen color */
div.jumbotron{
    background-color: lightsalmon ;
}

/* Contact us list */
#contact_list > li{
    font-size: 2em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

div.thumbnail {
    margin-top: 1.5em;
}

div.thumbnail > iframe{
    width: 100%;
    height: 400px;
}   
    
/* About us video */
div.jumbotron video{
    width: 100%;
    height: 250px;
}
    
/*
    trademark
 */
a.navbar-brand > img{
    height: 100%;
}
    
/*
    Book box in giant screen
 */
div.jumbotron div.thumbnail > img{
    width: 100%;
    height: 300px;
}

div.jumbotron div.caption > p,h3{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

    
/*
    giant screen quotes
 */
div.jumbotron blockquote > p{
    font-size: 2.5em;
    text-align: center;
}

div.jumbotron blockquote > footer{
    font-size: 1.5em;
}
    