
/*
    wangyizhuo S1554654
 */

/*
    巨幕中书籍盒子
 */
div.jumbotron div.thumbnail > img{
    width: 100%;
    height: 300px;
}

div.jumbotron div.caption > p,h3{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}    
    
    
/*
    热搜
*/
#keywords{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0px;
}

#keywords > h2{
    font-size: 2.5em;
    border-bottom: 3px solid black;
    margin-bottom: 20px;
}

#keyword_list > .keyword{
    background-color: white;
    display: inline-block;
    font-size: 1.2em;
    height: 2.4em;
    line-height: 2.4em;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

#keyword_list > .keyword:hover{
    background-color: lightgray;
}    
    
/* 搜索 */
#search{
    width: 80%;
    height: 200px;
    margin: 5% auto;
    text-align: center;
}

#search > h2{
    margin-bottom: 20px;
    font-size: 2.5em;
}

#search > input[type=search]{
    width: 450px;
    height: 50px;
    font-size: 1.3em;
    vertical-align: middle;
    border: 3px solid #ffffff;
    border-radius: 0;
}

#search > input[type=submit]{
    width: 100px;
    height: 50px;
    background-color: #f2f2f2;
    color: #222222;
    vertical-align: middle;
    font-size: 1.3em;
    border: 0;
}    
    
/*
    巨幕名言引用
 */
div.jumbotron blockquote > p{
    font-size: 2.5em;
    text-align: center;
}

div.jumbotron blockquote > footer{
    font-size: 1.5em;
}
    
/*
    搜索结果
 */
div.search-result{
    font-size: 3em;
    border-bottom: 3px solid black;
    text-align: center;
}    
    
/*
    巨幕轮播
 */
div.carousel-inner > div.item > img{
    height: 500px;
    width: 100%;
}

div.carousel-inner > div.item > div.carousel-caption{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
    
/* 联系我们列表 */
#contact_list > li{
    font-size: 2em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

div.thumbnail {
    margin-top: 1.5em;
}

div.thumbnail > iframe{
    width: 100%;
    height: 400px;
}   
    
/*
    清除浮动
*/
.clear-fix{
    zoom: 1;
}

.clear-fix::after{
    display: block;
    clear:both;
    height:0;
    content: "";
    visibility: hidden;
    overflow:hidden;
}    
    
/* 关于我们视频 */
div.jumbotron video{
    width: 100%;
    height: 250px;
}
    
/*
    商标
 */
a.navbar-brand > img{
    height: 100%;
}
    
/* 巨幕颜色 */
div.jumbotron{
    background-color: lightgreen ;
}
